obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/apphost
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/Shopping.AssemblyInfo.cs
obj/Debug/net6.0/Shopping.AssemblyInfoInputs.cache
obj/Debug/net6.0/Shopping.assets.cache
obj/Debug/net6.0/Shopping.csproj.AssemblyReference.cache
obj/Debug/net6.0/Shopping.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/Shopping.csproj.FileListAbsolute.txt
obj/Debug/net6.0/Shopping.dll
obj/Debug/net6.0/Shopping.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/Shopping.genruntimeconfig.cache
obj/Debug/net6.0/Shopping.GlobalUsings.g.cs
obj/Debug/net6.0/Shopping.pdb
obj/Debug/net6.0/ref/Shopping.dll
obj/Debug/net6.0/refint/Shopping.dll
bin/Debug/net6.0/Shopping
bin/Debug/net6.0/Shopping.deps.json
bin/Debug/net6.0/Shopping.dll
bin/Debug/net6.0/Shopping.exe
bin/Debug/net6.0/Shopping.pdb
bin/Debug/net6.0/Shopping.runtimeconfig.json
bin/Debug/net6.0/ref/Shopping.dll
.vscode/launch.json
.vscode/tasks.json
obj/project.assets.json
obj/project.nuget.cache
obj/Shopping.csproj.nuget.dgspec.json
obj/Shopping.csproj.nuget.g.props
obj/Shopping.csproj.nuget.g.targets
